ai_groupmate__voice_enabled=true
ai_groupmate__voice_base_url=http://127.0.0.1:9880
ai_groupmate__voice_text_lang=zh
ai_groupmate__voice_speed_factor=1.0
ai_groupmate__voice_top_k=15
ai_groupmate__voice_top_p=1.0
ai_groupmate__voice_temperature=1.0
